@model Course
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>name: @Model.Name </p>
    <p>description : @Model.description  </p>
    <p>isPublished: @Model.isPublished</p>
</body>
</html>